name: CI

on: [push, pull_request]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 16
              uses: actions/setup-node@v1
              with:
                  node-version: 16
            - run: npm ci
            - run: npm run lint

    test:
        name: Test
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 16
              uses: actions/setup-node@v1
              with:
                  node-version: 16
            - run: npm ci
            - run: npm test
